.shape1 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 105vh;
    width: 100%;
}

.shape2 {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    height: 35%;
}

#footer small {
    color: #adadad;
    font-size: smaller;
}